<!DOCTYPE html>
<html>
  <head>
    <title>UniversityWebApp</title>
    <%= csrf_meta_tags %>

     <!--removed turbolinks from here-->
  </head>

  <body>
  <div>
    <ul class="nav">
      <li><a href="/students">Students</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/sections">Sections</a></li>
      <li><a href="/enrollments">Enrollments</a></li>
    </ul>
  </div>
    <%= yield %>
  </body>
</html>
